*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Octarine';
    src: url(../assets/fonts/Octarine-Bold.otf);
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:black;
}

li{
    list-style: none;
}

label{
    display: none;
}

form{
    position: fixed;
    width: 90%;
    left: 50%;
    bottom: 32px;
    transform: translateX(-50%);
}

form input{
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 30px;
    padding: 0 16px;
    font-size: 12px;
    outline: none;
    background-color: #454545;
    color: #d0d0d0;
    transition: 0.4s;
}

form input:focus{
    width: 100%;
    aspect-ratio: 0;
}



input[type="search"]::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

main{
    min-height: 100vh;
}

.flex{
    display:flex;
    justify-content: center;
    align-items: center;
}

main ul{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 96px;
    gap: 0.1em;
    transition: 0.4s;
}

main > h2{
    font-weight: 100;
    color: white;
}

main div#loading.show{
    visibility: visible;
}

main div#loading{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    margin-top: 10px;
}

main div#loading img{
    width: 2.5em;
}

main section.empty-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main section.empty-container h2{
    color: white;
    font-weight: 100;
    font-family: sans-serif;
    text-align: center;
}

main section.empty-container p{
    color: gray;
    font-family: sans-serif;
}

main figure{
    height: 50vh;
    position: relative;
}

main h3{
    color: white;
    padding: 10px;
    font-family: fantasy;
}

main figure img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

main > section{
    padding: 10px;
    font-family: fantasy;
}

main > section p:nth-of-type(2){
    font-size: 1em;
    font-weight: 100;
    color: white;
}

main > section h2{
    color: white;
    font-size: 1.5em;
    font-weight: 100;
}

main > section p{
    color:gray;
}

main figure figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(0deg, black, transparent);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 300;
    transition: 0.4s;
    font-family: 'Octarine';
    padding: 10px;
    font-family: fantasy;
}

main ul li{
    background-color: #454545;
    opacity: 1;
    transition: transform 5s ease-in;
    transition: 0.8s;
}

main ul li a{
    display:flex;
    height: 100%;
}

.loading{
    animation-delay: 2s;
    opacity: 0;
    /* transform: scale(0); */
}

main ul li:hover{
    transform: scale(1.2);
    transition: 0.2s;
    z-index: 1;
}

main ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main ul li:nth-of-type(1){
    grid-column: 1/3;
    grid-row: 1/3;
}

main ul li:nth-of-type(4){
    grid-column: 3/5;
}

main ul li:nth-of-type(6){
    grid-row: 3/5;
}

main ul li:nth-of-type(13){
    grid-row: 5/7;
}

main ul li:nth-of-type(14){
    grid-row: 5/7;
}

main ul li:nth-of-type(15){
    grid-row: 5/7;
}

main ul li:nth-of-type(21){
    grid-column: 1/3;
}

main ul li:nth-of-type(22){
    grid-column: 3/5;
}
